<h1> Juan's view. </h1>
<p> Part of assignment for ruby on rails class by Richard Schneeman </p>

<p> Iterating w/ ruby </p>
<p> Coding Projects:
    <ul>
      <% ['this', 'modular arithmetic library', 'exam timer'].each do |proj| %>
        <li> <%= proj %></li>
      <% end %>
    </ul>
<p> Time is: </p>
<%= Time.now %>
